<!-- <h1>Hello World with Angular 19</h1>
<h2>{{title}}</h2>
<h3>{{name}}</h3>

<app-login></app-login>

<app-profile></app-profile>

<button (click)="handleClickMe()">Click me</button>
<button (click)="sum(10, 30)">Sum</button> -->



<!-- <h1>Counter Application</h1>
<div style="text-align: center;">
  <h2 class="count">{{count}}</h2>
  <button class="btn bg-red" (click)="handleAll('minus')">Decrement</button>
  <button class="btn bg-black" (click)="handleAll()">Reset</button>
  <button class="btn bg-green" (click)="handleAll('plus')">Increment</button>
</div> -->



<!-- <h1>Events in Angular</h1>
<button (click)="handleEvent()">Click me.</button>

<br>
<br>
<div (mouseenter)="handleMouseOver()" style="background-color: greenyellow; height: 100px; width: 100px;"></div> //Internal style


<br>
<br>
<div (mouseleave)="handleMouseLeave()" style="background-color: blueviolet; height: 100px; width: 100px;"></div>

<br>
<br>
<input (input)="handleInputText($event)" (focus)="handleInputFocus()" (blur)="handleInputBlur()" type="text" name> -->


<!-- <h1>Get and Set input fields</h1>

//1st Way to get input value using $event
<h2>Entered User Name is: {{display}}</h2>
<input type="text" name="userName" placeholder="Enter User Name" (input)="getName($event)">
<br>
<button (click)="displayName()">Get Value</button>

<hr>

//2nd Way to get input value using #emailfield (This is also called Template Variable.)
<h2>Entered Email is: {{email}}</h2>
<input type="text" name="userName" placeholder="Enter Email" #emailField>
<br>
<button (click)="displayEmail(emailField.value)">Get Value</button> -->

<!-- Replacement of ng-if -->
<!-- @if(show){
<div style="background-color: black; height: 200px; width: 200px;">Hello</div>
}



@if(number == 10){
<div style="background-color: orange; height: 200px; width: 200px;"></div>
}
@else{
<div style="background-color: whitesmoke; height: 200px; width: 200px;"></div>
}
<br>
<br>
<button style="height: 50px; width: 150px;" (click)="hide()">Click to hide Black Color</button> -->

<!-- <h1>Switch Case</h1>
<button (click)="handleColor('orange')">Orange</button>
<button (click)="handleColor('white')">White</button>
<button (click)="handleColor('green')">Green</button>
<input type="text" (click) = "handleText($event)">

@switch(color){
@case('orange'){
<h1 style="background-color: orange;">Orange Color</h1>
}
@case('white'){
<h1 style="background-color: whitesmoke;">White Color</h1>
}
@case('green'){
<h1 style="background-color: green;">Green Color</h1>
}
} -->


<!-- <h1>For Loop in Angular</h1>

@for(user of Users; track user){
<h2>User is: {{user}}</h2>
}

@for(s of Students; track s){
<h2>User with Id: {{s.Id}}, Name: {{s.Name}} and his Job is: {{s.Job}}</h2>
} -->


<h1>Signals Learnings</h1>

<h2>{{x}}</h2>
<h2>{{count()}}</h2>

<button (click)="count.set(100)">Increase Signal Value</button>
<button (click)="updateValue()">Update Value</button>
<br>
<h2>{{num()}}</h2>
<h2>{{data()}}</h2>
<h2>{{inc()}}</h2>
<button (click)="updateEvent($event)">Here click</button>